html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

html {
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  scroll-behavior: smooth;
  overflow-x: hidden;
  margin-right: calc(-1 * (100vw - 100%));
  

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // оптимизация выравнивания шрифта относительно центра строки
  text-rendering: optimizeLegibility;
  // если по прежнему есть проблемы с выравниванием
  // https://transfonter.org/ - включите настройку https://prnt.sc/12rnt6g и переконвертируйте шрифт
}

body {
  width: 100%;
  height: 100%;
}


#test {
  color: black;
}

a {
  color: black;
}

main {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5rem;
  font-size: 16px;
  padding: 5%;
  color:black;
}

input {
  margin-bottom: 25px;
}

div {
  display: flex;
  flex-direction: column;
  color: black;
}

span {
  background:  linear-gradient(151deg, #ed0233 0%, #003eb7 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color:#ed0233;
}

[data-tooltip] {
  text-decoration: underline;
}

[role="tooltip"] {
  width: auto;
  max-width: 20%;
  height: auto;
  min-height: 25px;
  line-height: 25px;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, 0.7);
  color: #ffffff;
  -webkit-text-fill-color: #ffffff;
  border-radius: 5px;
  margin-top: 10px;
  padding: 10px 15px;
  position: absolute;
  transform: translateX(-50%);
  opacity: 0;
}

[role="tooltip"].active {
  opacity: 1;
  transition: opacity 0.1s;
}

[role="tooltip"]::before {
  content: "";
  position: absolute;
  margin-top: -20px;
  transform: translateX(-50%);
  left: 50%;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid rgba(0, 0, 0, 0.7);
}

.pool {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
}

textarea {
  width: 100%;
  resize: none;
}

.block {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
  grid-template-rows: 2;
}

.pools{
  padding: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  list-style-type: none;
  background-color: bisque;
}

.pool1{
  background:  linear-gradient(151deg,#f1cbcb 0%, #d0dcf3 100%);
}
.container {
  margin-top: 50px;
}
.wrapper {
  margin: 0 auto;
  background: #ffffff;
  box-shadow: 0px 1px 5px 3px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  position: relative;
  width: 100%;
}

.wrapper input {
  width: 100%;
  border: none;
  height: 50px;
  border-radius: 5px;
  padding: 0px 40px 0px 10px;
  margin: 0;
  box-sizing: border-box;
  font-size: 18px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
}

.wrapper input:focus {
  outline: none;
}

.my-button {
  position: absolute;
  content: "";
  border:none;
  background-image: url('photo.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  top:0;
  right: 0;
  height: 50px;
  line-height: 50px;
  padding: 0;
  width: 50px;
  z-index: 2;
}


.my-button:focus{
  outline: 0;
}

.results {
  padding: 0;
}

.results ul {
  margin: 0;
  padding: 0;
}

.results ul li {
  list-style-type: none;
  border-radius: 3px;
  opacity: 0;
  display: none;
  margin: 0;
  padding: 8px 12px;
  transition: all .5s linear;
}

.show .results ul li{
  opacity: 1;
  display: block;
}
.show .results{
  padding: 10px;
}

.results ul li:hover {
  background: #ececec;
}

a {
  color:#003eb7;
  cursor: pointer;
}

.modal-container {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(242, 242, 242, 0.8);
  z-index: 2;
}

.modal-container-close {
  display: none;
}

.modal {
  position: relative;
  margin: auto;
  background-color: #fff;
  -webkit-box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.15);
}

.modal-auth {
  width: 717px;
  border-radius: 30px;
}

.modal-close-button {
  position: absolute;
  padding: 0;
  top: 64px;
  right: 52px;
  width: 52px;
  height: 52px;
  background-color: #f2f2f2;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.close-button {
  fill: #000;
  margin: auto;
}

.modal-close-button:hover svg,
.modal-close-button:focus svg {
  background-color: #e6e6e6;
}

.modal-close-button:active svg {
  fill: rgba(0, 0, 0, 0.3);
  background-color: #e6e6e6;
}

.modal-close-button:active {
  background-color: #e6e6e6;
}

.modal-content {
  padding: 64px 70px 49px;
}

.modal-title {
  margin: 0;
  padding: 0;
  margin-bottom: 64px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000;
  text-transform: uppercase;
}

.button-click {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  padding: 10px 40px;
  box-sizing: border-box;
  border: 1px solid  #e6e6e6;
  border-radius: 5px;
  background-color: #fff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.no-scroll {
  overflow: hidden;
}

.block {
  color: red;
  list-style-type: disc;
}

.li-radio {
  position: relative;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

/* .radiolabel {
  position: relative;
  display: flex;
  
} */


.radio__control-label {
  display: block;
  margin: 0 0 0 62px;
  font-family: "PTSans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  height: 50px;
}

.radio__control-mark {
  position: absolute;
  top: -10px;
  left: 0;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  border: 1px solid black;
  background-color: #f2f2f2;
  cursor: pointer;
}

.radio[type="radio"]:checked + .radio__control-mark::before {
  position: absolute;
  content: "";
  top: 32%;
  left: 33%;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #333333;
  background-position: center;
  background-repeat: no-repeat;
}

.radio[type="radio"]:hover + .radio__control-mark {
  background-color: #e5e5e5;
}


.radio[type="radio"]:active + .radio__control-mark {
  background-color: #d5d5d5;
}

.xcc {
  position: relative;
  padding: 0;
  margin: 0;
  list-style-type: none;

}

.checkboxlabel {
  display: block;
  margin: 0 0 0 62px;
  font-family: "PTSans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}

.checkbox__control-mark {
  position: absolute;
  top: -10px;
  left: 0;
  width: 46px;
  height: 46px;
  background-color: #f2f2f2;
  border: 1px solid black;
  border-radius: 4px;
  cursor: pointer;
}

.checkboxw[type="checkbox"]:checked + .checkbox__control-mark::before {
  position: absolute;
  content: "";
  top: 30%;
  left: 28%;
  width: 22px;
  height: 16px;
  mask-image: url("tick.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #000000;
}

.checkboxw[type="checkbox"]:hover + .checkbox__control-mark {
  background-color: #e5e5e5;
}

.checkboxw[type="checkbox"]:active + .checkbox__control-mark::before {
  opacity: 30%;
}

.checkboxw[type="checkbox"]:active + .checkbox__control-mark {
  background-color: #d5d5d5;
}
.special {
  position: relative;
}

.special::after {
  position: absolute;
  content:url('hundred-points.svg');
  left: calc(100% + 10px);
  width: 25px;
  height: 20px;
}

.pass {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  max-width: 350px;
  color:#000000;
  z-index: 1;
}

.pass #svg1,
.pass #svg2 {
  position: absolute;
  content: "";
  color: #000;
  z-index: 4;
  left: calc(100% - 25px);
  top: 5px;
}

.pass #svg2 {
  top: 4px;
}

.hidden {
  display: none;
}

.password {
  margin: 0;
  padding: 5px 30px 5px 5px;
}
