html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

html {
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  scroll-behavior: smooth;
  overflow-x: hidden;
  margin-right: calc(-1 * (100vw - 100%));
  

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // оптимизация выравнивания шрифта относительно центра строки
  text-rendering: optimizeLegibility;
  // если по прежнему есть проблемы с выравниванием
  // https://transfonter.org/ - включите настройку https://prnt.sc/12rnt6g и переконвертируйте шрифт
}

body {
  width: 100%;
  height: 100%;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}


#test {
  color: black;
}

a {
  color: black;
}

main {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5rem;
  font-size: 16px;
  padding: 5%;
  color:black;
  padding: 0;
}

input {
  margin-bottom: 25px;
}

div {
  display: flex;
  flex-direction: column;
  color: black;
}

span {
  background:  linear-gradient(151deg, #ed0233 0%, #003eb7 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color:#ed0233;
}

[data-tooltip] {
  text-decoration: underline;
}

[role="tooltip"] {
  width: auto;
  max-width: 20%;
  height: auto;
  min-height: 25px;
  line-height: 25px;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, 0.7);
  color: #ffffff;
  -webkit-text-fill-color: #ffffff;
  border-radius: 5px;
  margin-top: 10px;
  padding: 10px 15px;
  position: absolute;
  transform: translateX(-50%);
  opacity: 0;
}

[role="tooltip"].active {
  opacity: 1;
  transition: opacity 0.1s;
}

[role="tooltip"]::before {
  content: "";
  position: absolute;
  margin-top: -20px;
  transform: translateX(-50%);
  left: 50%;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid rgba(0, 0, 0, 0.7);
}

.pool {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
}

textarea {
  width: 100%;
  resize: none;
}

.block {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
  grid-template-rows: 2;
}

.pools{
  padding: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  list-style-type: none;
  background-color: bisque;
}

.pool1{
  background:  linear-gradient(151deg,#f1cbcb 0%, #d0dcf3 100%);
}
.container {
  margin-top: 50px;
}
.wrapper {
  margin: 0 auto;
  background: #ffffff;
  box-shadow: 0px 1px 5px 3px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  position: relative;
  width: 100%;
}

.wrapper input {
  width: 100%;
  border: none;
  height: 50px;
  border-radius: 5px;
  padding: 0px 40px 0px 10px;
  margin: 0;
  box-sizing: border-box;
  font-size: 18px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
}

.wrapper input:focus {
  outline: none;
}

.my-button {
  position: absolute;
  content: "";
  border:none;
  background-image: url('photo.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  top:0;
  right: 0;
  height: 50px;
  line-height: 50px;
  padding: 0;
  width: 50px;
  z-index: 2;
}


.my-button:focus{
  outline: 0;
}

.results {
  padding: 0;
}

.results ul {
  margin: 0;
  padding: 0;
}

.results ul li {
  list-style-type: none;
  border-radius: 3px;
  opacity: 0;
  display: none;
  margin: 0;
  padding: 8px 12px;
  transition: all .5s linear;
}

.show .results ul li{
  opacity: 1;
  display: block;
}
.show .results{
  padding: 10px;
}

.results ul li:hover {
  background: #ececec;
}

a {
  color:#003eb7;
  cursor: pointer;
}

.modal-container {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(242, 242, 242, 0.8);
  z-index: 2;
}

.modal-container-close {
  display: none;
}

.modal {
  position: relative;
  margin: auto;
  background-color: #fff;
  -webkit-box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.15);
}

.modal-auth {
  width: 717px;
  border-radius: 30px;
}

.modal-close-button {
  position: absolute;
  padding: 0;
  top: 64px;
  right: 52px;
  width: 52px;
  height: 52px;
  background-color: #f2f2f2;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.close-button {
  fill: #000;
  margin: auto;
}

.modal-close-button:hover svg,
.modal-close-button:focus svg {
  background-color: #e6e6e6;
}

.modal-close-button:active svg {
  fill: rgba(0, 0, 0, 0.3);
  background-color: #e6e6e6;
}

.modal-close-button:active {
  background-color: #e6e6e6;
}

.modal-content {
  padding: 64px 70px 49px;
}

.modal-title {
  margin: 0;
  padding: 0;
  margin-bottom: 64px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000;
  text-transform: uppercase;
}

.button-click {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  padding: 10px 40px;
  box-sizing: border-box;
  border: 1px solid  #e6e6e6;
  border-radius: 5px;
  background-color: #fff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.no-scroll {
  overflow: hidden;
}

.block {
  color: red;
  list-style-type: disc;
}

.li-radio {
  position: relative;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

/* .radiolabel {
  position: relative;
  display: flex;
  
} */


.radio__control-label {
  display: block;
  margin: 0 0 0 62px;
  font-family: "PTSans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  height: 50px;
}

.radio__control-mark {
  position: absolute;
  top: -10px;
  left: 0;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  border: 1px solid black;
  background-color: #f2f2f2;
  cursor: pointer;
}

.radio[type="radio"]:checked + .radio__control-mark::before {
  position: absolute;
  content: "";
  top: 32%;
  left: 33%;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #333333;
  background-position: center;
  background-repeat: no-repeat;
}

.radio[type="radio"]:hover + .radio__control-mark {
  background-color: #e5e5e5;
}


.radio[type="radio"]:active + .radio__control-mark {
  background-color: #d5d5d5;
}

.xcc {
  position: relative;
  padding: 0;
  margin: 0;
  list-style-type: none;

}

.checkboxlabel {
  display: block;
  margin: 0 0 0 62px;
  font-family: "PTSans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}

.checkbox__control-mark {
  position: absolute;
  top: -10px;
  left: 0;
  width: 46px;
  height: 46px;
  background-color: #f2f2f2;
  border: 1px solid black;
  border-radius: 4px;
  cursor: pointer;
}

.checkboxw[type="checkbox"]:checked + .checkbox__control-mark::before {
  position: absolute;
  content: "";
  top: 30%;
  left: 28%;
  width: 22px;
  height: 16px;
  mask-image: url("tick.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #000000;
}

.checkboxw[type="checkbox"]:hover + .checkbox__control-mark {
  background-color: #e5e5e5;
}

.checkboxw[type="checkbox"]:active + .checkbox__control-mark::before {
  opacity: 30%;
}

.checkboxw[type="checkbox"]:active + .checkbox__control-mark {
  background-color: #d5d5d5;
}
.special {
  position: relative;
}

.special::after {
  position: absolute;
  content:url('hundred-points.svg');
  left: calc(100% + 10px);
  width: 25px;
  height: 20px;
}
.block-for-ps {
  width: 350px;
}
.pass {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  color:#000000;
  z-index: 1;
}

.svg1,
.svg2 {
  position: absolute;
  content: "";
  color: #000;
  z-index: 4;
  left: calc(100% - 25px);
  top: 5px;
}

.svg2 {
  top: 4px;
}

.hidden {
  display: none;
}

.password {
  margin: 0;
  padding: 5px 30px 5px 5px;
}

.password::placeholder {
  font-size: 9px;
}

.security-bar {
  height: 5px;
  margin-top: 5px;
  border-radius: 5px;
  transition: 1s;
  /* background-color: #3e26266f; */
}

table {
  border-collapse: collapse;
  border: 1px solid grey;
  margin-bottom: 50px;
}

th {
  border: 1px solid grey;
}

td {
  border: 1px solid grey;
}


/* графика  */

.js .loading::before,
.js .loading::after {
	content: '';
	position: fixed;
	z-index: 10000;
}

.js .loading::before {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--color-bg);
}

.js .loading::after {
	top: 50%;
	left: 50%;
	width: 60px;
	height: 60px;
	margin: -30px 0 0 -30px;
	border-radius: 50%;
	opacity: 0.4;
	background: var(--color-link);
	animation: loaderAnim 0.7s linear infinite alternate forwards;

}

@keyframes loaderAnim {
	to {
		opacity: 1;
		transform: scale3d(0.5,0.5,1);
	}
} 


:root {
	font-size: 12.5px;
	--color-text: #777674;
	--color-bg: #000;
	--color-link: #777674;
	--color-link-hover: #f4d88c;
	--page-padding: 1.5rem;
	--color-link-works: #fff;
	--color-link-works-hover: #f4d88c;
	--color-link-works-current: #eeae30;
	--color-title: #fff;
}

.grid-graph {
	/* padding: var(--page-padding); */
  box-sizing: border-box;
  background-color: var(--color-bg);
	position: relative;
	height: 100vh;
  width: 100vw;
  z-index: 2;
	display: grid;
  padding: 50px;
	grid-row-gap: 1rem;
	grid-column-gap: 2rem;
	justify-items: start;
	grid-template-columns: auto auto auto;
	grid-template-areas: 
		'tagline . site year menu'
	  '. content content content content'
		'contact content content content content'
		'works content content content content'
		'. content content content content'
		'title links  links links .';
    background-color: var(--color-bg);
}

.grid-graph a {
  pointer-events: auto;
}


/* 'site year menu' */
div .frame__site {
  grid-area: site;
  margin-left: auto;
  color: var(--color-text);
}

div .frame__year {
  grid-area: year;
  margin-left: auto;
  color: var(--color-text);
}

div .frame__menu {
  grid-area: menu;
	justify-self: end;
	width: 30px;
	aspect-ratio: 1;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: self-end;
	gap: 0.5rem;
  color: var(--color-text);
}

.frame__menu::before {
	content: '';
	width: 100%;
	height: 1px;
	background: currentColor;
}

.frame__menu::after {
	content: '';
	width: 60%;
	height: 1px;
	background: currentColor;
}


/* 'tagline tagline tagline'*/
div .frame__tagline {
  grid-area: tagline;
  max-width: 220px;
	line-height: 1.4;
  color: var(--color-text);
}


/* 'contact contact contact' */
.frame__contact {
  grid-area: contact;
  color: var(--color-text);
}

.frame__contact a {
  color: var(--color-text);
}


/* 'works works works' */
.frame__works {
	grid-area: works;
	display: flex;
	flex-direction: column;
	pointer-events: none;
}

.frame__works span {
	margin-bottom: 1.5rem;
  color: var(--color-text);
}

.frame__works a {
	pointer-events: auto;
	padding: 0.25rem 0;
	position: relative;
	font-size: 1.5rem;
	text-decoration: none;
	color: var(--color-link-works);
}

.frame__works a:hover {
	color: var(--color-link-works-hover);
}

.frame__works a.current {
	color: var(--color-link-works-current);
}

/* 'content content content' */
.frame__title-main {
	text-transform: none;
	line-height: 0.9;
	font-weight: 400;
	margin: 0 auto;
  justify-content: center;
	grid-area: content;
	font-size: clamp(2rem,8vw,9rem);
	display: grid;
	width: 100%;
	pointer-events: none;
}

.frame__title-main span:last-child {
	margin-left: 1em;
}

div .frame__content {
	grid-area: content;
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-areas: 'content-item';
}

.content {
	pointer-events: none;
	position: relative;
	opacity: 0;
	grid-area: content-item;
	display: grid;
	grid-template-columns: repeat(10,1fr);
	grid-template-rows: repeat(10,1fr);
	width: 100%;
	height: 100%;
	z-index: 1;
}

.content--current {
	opacity: 1;
}

.content__title {
	position: relative;
	z-index: 10;
	text-transform: none;
	font-weight: normal;
	opacity: 0;
	grid-area: 1 / 2 / -1 / -2;
	width: 100%;
	height: 100%;
	display: grid;
	align-content: center;
	margin: 0;
	line-height: 1;
	color: var(--color-title);
	font-size: clamp(2rem,10vw,9rem);
}

.no-js .content__title {
	opacity: 1;
}

.content__img {
	position: relative;
	will-change: clip-path, filter;
}

.content__img-inner {
	background-size: cover;
	background-position: 50% 0%;
	width: 100%;
	height: 100%;
}

/* 'title title title' */
div .frame__title {
  grid-area: title;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
	align-self: end;
}

div .frame__title h1 {
	font-size: inherit;
	margin: 0;
	font-weight: inherit;
}


/* 'links links links'; */
div .frame__links {
  margin: 0 auto;
	grid-area: links;
	display: flex;
  flex-direction: row;
	flex-wrap: wrap;
	gap: 10rem;	
	align-self: end;
}

.frame__links a {
  text-transform: uppercase;
  text-decoration: none;
	line-height: 1.4;
  color: var(--color-text);
}

/* background */
.pos-1 { grid-area: 1 / 1 / 5 / 5; }
.pos-2 { grid-area: 5 / 8 / 10 / 11; }
.pos-3 { grid-area: 8 / 3 / 11 / 5; }

.pos-4 { grid-area: 3 / 5 / 8 / 10; }
.pos-5 { grid-area: 7 / 4 / 10 / 7; }
.pos-6 { grid-area: 2 / 2 / 4 / 4; }

.pos-7 { grid-area: 8 / 2 / 11 / 5; }
.pos-8 { grid-area: 2 / 8 / 8 / 11; }
.pos-9 { grid-area: 3 / 3 / 6 / 6; }


.background {
	position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: grid;
  z-index: -1;
  grid-template-areas: 'background';
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  pointer-events: none;
  place-items: center;
}

.background__video {
	position: relative;
	z-index: 1;
  grid-area: background;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.background__image {
	position: relative;
	z-index: 0;
	grid-area: background;
	background-size: cover;
	filter: brightness(0.2);
	width: 120%;
	height: 120%;
	opacity: 0;
}


